@function strip-unit($num) {
  @return $num / ($num * 0 + 1);
}

@function to_em($value, $base-value: $base-size)  {
  $value: (strip-unit($value) / strip-unit($base-value)) * 1em;
  @if ($value == 0em) { $value: 0; } // Turn 0rem into 0
  @return $value;
}

@function to_rem($value, $target: $base-size) {
  $value: (strip-unit($value) / strip-unit($target)) * 1rem;
  @if ($value == 0rem) { $value: 0; } // Turn 0rem into 0
  @return $value;
}

@mixin clearfix {
  &:before,
  &:after {
      content: " ";
      display: table;
  }

  &:after {
      clear: both;
  }
}
