// Parallax effect

.parallax {
  position: relative;
  height: 600px;
}

.parallax__layer {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 600px;
  background-position: center bottom;
  background-size: 3000px 600px;
  background-repeat: no-repeat;

  &.layer1 {
    transform: translateZ(0);
    background-image: url('../images/ground1.svg');
    background-position-y: 10px;
    top: 220px;
    z-index: 101;
  }

  &.logo {
    height: auto;
  }

  &.layer3 {
    background-image: url('../images/ground2.svg');
    background-position-y: 100px;
  }

  &.layer4 {
    background-image: url('../images/ground3.svg');
    background-position-y: -10px;
  }

  &.layer5 {
    background-image: url('../images/ground4.svg');
  }
}
