@import "normalize";
@import "lib";
@import "underlines";

// Fonts

@font-face {
    font-family: 'TF2';
    src: url('../fonts/tf2build.eot');
    src: url('../fonts/tf2build.eot') format('embedded-opentype'),
         url('../fonts/tf2build.woff2') format('woff2'),
         url('../fonts/tf2build.woff') format('woff'),
         url('../fonts/tf2build.ttf') format('truetype'),
         url('../fonts/tf2build.svg#TF2BuildTF2Build') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'TF2';
    src: url('../fonts/tf2secondary.eot');
    src: url('../fonts/tf2secondary.eot') format('embedded-opentype'),
         url('../fonts/tf2secondary.woff2') format('woff2'),
         url('../fonts/tf2secondary.woff') format('woff'),
         url('../fonts/tf2secondary.ttf') format('truetype'),
         url('../fonts/tf2secondary.svg#TF2Secondary') format('svg');
    font-weight: normal;
    font-style: normal;
}

.group {
  @include clearfix;
}

ol, ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box;
}

@mixin respond($size) {
  @media only screen and (max-width: $size) {
    @content;
  }
}

// Variables

$green-dark:      #3F7812;
$green:           #86C435;
$green-light:     #BACE49;
$light:           #D8FCAD;
$orange:          #E19924;
$beige:           #FDFDE6;
$brown:           #B7A071;
$yellow:          #FFDE00;

$heading:         'TF2';
$sans:            Montserrat, sans-serif;

$base-size:       18;
$font-size:       to_rem($base-size, 16);
$lineheight:      to_rem(1.5 * $base-size);

$mobile:          480px;
$tablet:          768px;

html {
  background-color: $beige;
  color: $light;
  font: #{$font-size}/1.5 $sans;
  -webkit-font-smoothing: antialiased;

  @include respond($mobile) {
    font-size: to_rem(15);
  }
}

[role="banner"] {

  .logo {
    text-align: center;
    top: $lineheight*1.5;
    width: 100%;
    font-size: .5rem;
    z-index: 100;
  }

  .spotify-logo {
    opacity: .8;
    transition: opacity .3s ease-out;

    &:hover {
      opacity: 1;
    }
  }

  .presents {
    color: rgba($brown, .7);
    font-size: to_rem(13);
  }

  h1 {
    color: $green-dark;
    margin-top: $lineheight;
    font-weight: bold;
    line-height: 1.2;
    font-size: 6em;

    .first-row,
    .second-row,
    .third-row {
      display: block;
    }

    .first-row {
      color: $green-light;
      font-size: 1em;
      transform: rotate(1deg);
    }
    .second-row {
      font-size: 1.6em;
      transform: rotate(-2deg);
    }
    .third-row {
      color: $orange;
      font-size: 3.5em;
      position: relative;
      top: -.2em;
      transform: rotate(4deg);
    }
  }
}

[role="main"] {
  position: relative;
  z-index: 110;
  background-color: $green-dark;
  padding: $lineheight 0;

  @include respond($tablet) {
    .text-content p {
      text-align: left;
    }
  }

  .main-title {
    white-space: nowrap;
    margin-left: -90px;

    @include respond(925px) {
      white-space: normal;
      margin-left: 0;
    }
  }

  .container > section {
    margin: $lineheight*2 0;
  }
}

[role="contentinfo"] {
  padding: $lineheight*2 0;
  color: $brown;
  background-color: $beige;
  position: relative;
  z-index: 200;

  p a {
    color: $orange;
    @include underline($color: $orange, $bg: $beige, $offset: 0);
  }

  h1 {
    color: $brown;
    font-size: to_rem(56);
    margin-top: $lineheight*2;
  }

  .creators {
    display: table;
    width: 100%;
    text-align: center;
    margin-bottom: $lineheight*2;

    strong {
      color: $brown;
      @include underline(3, $color: $brown, $bg: $beige, $offset: 0);
    }

    .avatar {
      width: 100px;
      border-radius: 100%;
    }

    a {
      display: table-cell;
    }
  }

  .email {
    font-size: to_rem(31);
    color: $orange;
    font-weight: normal;
    transition: color .2s ease-out;
    @include underline($color: $orange, $bg: $beige, $offset: 0);

    &:hover {
      color: lighten(saturate($orange, 10%), 2%);
    }
  }

  .btn {
    box-shadow: inset rgba(#FFC446, .3) 0 -1px 1px 1px,
                rgba(#AB5700, .8) 0 5px 0,
                rgba($brown, .2) 0 6px 0 2px,
                rgba(#000, .1) 0 5px 30px 3px;

    &:active {
      box-shadow: inset rgba(#FFC446, .3) 0 -1px 1px 1px,
                  rgba(#AB5700, .8) 0 1px 0,
                  rgba(#000, .05) 0 5px 10px 3px;
    }
  }
}

a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;

  &:not(.btn):not(.no-underline) {
    @include underline($size: 2.5, $color: #fff, $bg: $green-dark, $offset: .1em);
  }

  small {
    font-weight: normal;
  }
}

p, ul, ol, pre, dl {
  margin: 0 0 $lineheight*2;
}

dd {
  margin: 0;
}

dl.horizontal {
  @include clearfix;

  dt, dd {
    float: left;
  }
  dt {
    clear: left;
    color: rgba($light, .7);
    margin-right: 1rem;
    min-width: 8rem;
    margin-bottom: .5rem;
  }
}

pre, code {
  font-family: Menlo, Monaco, monospace;
  color: lighten($light, 10%);
}

pre {
  border-radius: 6px;
  padding: 1rem;
  background-color: rgba($green, .3);
}

code {
  background-color: rgba($green, .25);
  padding: 2px 4px;
  border-radius: 3px;
  font-size: 85%;
}

pre code {
  color: inherit;
  padding: 0;
  border-radius: 0;
  background: none;
}

.container {
  max-width: 34rem;
  width: 90%;
  margin: 0 auto;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $heading;
  font-weight: normal;
  color: #fff;
  margin: 0 0 $lineheight;
  letter-spacing: -1px;
}

h1 {
  font-size: to_rem(48);
}

h2 {
  font-family: $sans;
  font-weight: bold;
}

h3 {
  font-family: $sans;
  font-weight: bold;
}

p > strong {
  color: lighten($light, 10%);
}

del {
  color: rgba($light, .5);
}

.dates {
  display: table;
  width: 100%;
  margin: $lineheight*2 0;
  padding: 1.6rem 1rem;
  border-radius: 16px;
  border: 3px solid darken($green-dark, 3%);
  margin-left: -2rem;
  width: calc(100% + 4rem);
  font-size: 1.2rem;

  @include respond($mobile) {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }

  p {
    width: 50%;
    margin: 0;
    display: table-cell;
  }

  strong, time {
    display: block;
  }

  strong {
    color: $green;
  }

  time {
    font-size: to_em(28);
    font-weight: bold;
    color: #fff;
  }

  p:first-child time {
    transform: rotate(-1deg);
  }

  p:last-child time {
    transform: rotate(1deg);
  }
}

.signup, footer {
  .btn {
    text-indent: -20px;
  }
}

.facebook-link {
  @include clearfix;
  display: inline-block;
  text-align: left;
  margin-top: $lineheight;

  img {
    float: left;
  }

  small {
    opacity: .7;
  }

  &:hover {
    small {
      opacity: 1;
    }
  }

  strong, small {
    float: right;
    width: 170px;
  }

  small {
    clear: right;
    color: $light;
    font-size: to_rem(13);
  }

  img {
    margin-right: 10px;
  }
}


.steps {
  text-align: left;

  p {
    font-size: .8rem;
    padding-right: 4rem;
    color: rgba($light, .8);
    margin-bottom: $lineheight;
  }

  h2 {
    margin-bottom: $lineheight / 2;
  }

  > li {
    background-repeat: no-repeat;
    background-position: left top;
    padding-left: $lineheight*3;

    &:nth-child(1) {
      background-image: url('../images/banana.svg');
    }
    &:nth-child(2) {
      background-image: url('../images/bananas.svg');
    }
  }
}

.languages {

  li {
    display: inline-block;
  }

  a {
    border-radius: 8px;
    margin: 0;
    color: $light;
    border: 2px solid rgba(#fff, .2);
    display: inline-block;
    text-align: center;
    padding: 1rem;
    margin-right: .6rem;
    min-width: 3rem;
    text-indent: -5px;  // center horizontally
    font-family: Monaco, Menlo, Courier, monospace;
    font-size: 80%;

    &:hover {
      border-color: rgba(#fff, .5);
      color: #fff;
    }
  }
}


.btn {
  display: inline-block;
  background-color: $orange;
  color: #fff;
  text-align: center;
  font-size: to_rem(42);
  font-weight: normal;
  padding: .2em 2em;
  border-radius: 13px;
  position: relative;
  transition: background-color .1s ease-out;

  box-shadow: inset rgba(#FFC446, .3) 0 -1px 1px 1px,
              rgba(#AB5700, .8) 0 5px 0,
              rgba(41, 78, 11, .5) 0 6px 0px 2px,
              rgba(255, 196, 70, .2) 0 6px 0 3px,
              rgba(#000, .1) 0 5px 30px 3px;

  &:hover {
    background-color: lighten(saturate($orange, 10%), 2%);
  }

  &:active,
  &:focus {
    outline: 0;
    top: 5px;
    box-shadow: inset rgba(#FFC446, .3) 0 -1px 1px 1px,
                rgba(#AB5700, .8) 0 1px 0,
                rgba(41, 78, 11, .5) 0 1px 0px 2px,
                rgba(255, 196, 70, .2) 0 1px 0 3px,
                rgba(#000, .05) 0 5px 10px 3px;
  }
}


.tech {

  h3 {
    text-align: left;
  }

  .text-content {
    p, ul, ol, pre, dl {
      text-align: left;
    }
  }

  dl pre {
    width: 25rem;
    font-size: 90%;
    margin-bottom: 0;
  }
}

// Helpers

.list {
  list-style-type: square;
}

.content--centered {
  text-align: center;
}

.content--left {
  text-align: left;
}

.fade {
  opacity: .7;
}

[class^="icon-"] {
  &::before {
    display: inline-block;
    content: "";
    font-style: normal;
    background-size: 100% 100%;
  }
}

.icon-leaf::before {
  width: 40px;
  height: 30px;
  background: transparent url('../images/leaf-icon.svg') no-repeat left center;
}

@import "parallax";
